/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #ef85f8;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
    font-weight: 300;
}

/* Menu de Navegação */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ef85f8;
}

/* Estilo das Seções */
section {
    padding: 60px 20px;
}

section h2 {
    font-size: 2.5em;
    color: #ef85f8 ;
    margin-bottom: 20px;
}

section p {
    font-size: 1.3em;
    color: #666;
}

/* Galeria de Imagens */
.image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image-gallery .photo {
    width: 300px;  /* Aumentando o tamanho das imagens */
    height: auto;
    margin: 0 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1.1em;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.2em;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 40px 20px;
    }

    .image-gallery {
        flex-direction: column;
    }

    .image-gallery .photo {
        width: 80%; /* Ajustando para telas menores */
        margin-bottom: 20px;
    }
}
